/* Login.css */
body {
  font-family: "Roboto", sans-serif;
}

.envoltura-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.627);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.381);
}

.contenedor-login h2 {
  margin-bottom: 20px;
  font-size: 60px;
  color: white;
  margin-top: -10px;
}

.campo-entrada {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px rgba(255, 255, 255, 0.614);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}

.campo-entrada::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.opciones {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
}

.contrasena-olvidada {
  color: white;
}
.contrasena-olvidada:hover {
  color: #0d2e05;
  text-decoration: underline;
}

.boton-login {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-login:hover {
  background-color: #256a15;
  color: white;
}

.enlace-registro {
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

.enlace-registro a {
  color: white;
  font-weight: bold;
}
.enlace-registro a:hover {
  color: #256a15;
  font-weight: bold;
  text-decoration: underline;
}

.contenedor-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.contenedor-checkbox:hover {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #0d2e05;
  text-decoration: underline;
}

.checkbox-personalizado {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.marca {
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 6px;
  position: relative;
}

.checkbox-personalizado:checked + .marca::after {
  content: "";
  position: absolute;
  left: 3.5px;
  bottom: 2px;
  width: 5px;
  height: 10px;
  border: solid #0d2e05;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.mensaje-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
